<h4>Edição de Destino</h4>

<% form_for @destino do |f| %>  
  <%= error_messages_for :destino %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag  'Alterar', :disable_with => 'Aguarde'%>  
  <%= link_to "Cancelar", :action => "index" %>
<% end %>